<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

    <a class="navbar-brand" href="#" style="margin-left: 20px;"><img src="https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfJ7K...92QETmhPbi2c...ZzhK...A9lmCAuhuQuq6R6b0gN4FcJixEPdsU+jzIqD99LxUc6unyAOA==" alt=""
      style="height: 50%; width: 50%; "></a>

    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="myNavbar7">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>

<div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7" style="margin-right: 20px;">
  <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="/menu" routerLinkActive="active" >Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item" style="background-color: #002366; ">
        <a class="nav-link" routerLink="/reserve" routerLinkActive="active" style="color: azure;">Reservations</a>
      </li>
  </ul>
</div>

</nav>


