


<h1 class="menu">M E N U</h1>

<div class="row" style="text-align: center; font-family: 'Barlow Condensed', sans-serif;  margin-left: 30%; margin-right: 30%; padding: 20px;">
  <div class="col">
    <button class="button"  routerLink = "appetizers" routerLinkActive="active">Appetizer</button>
  </div>
  <div class="col">
      <button class="button"  routerLink = "main-course" routerLinkActive="active">Dinner</button>
  </div>
  <div class="col">
      <button class="button"  routerLink = "beverages" routerLinkActive="active">Beverages</button>
  </div>
  <div class="col">
      <button class="button"  routerLink = "desserts" routerLinkActive="active">Dessert</button>
  </div>
</div>

<router-outlet></router-outlet>




