

<!-- <ul class="list-group list-group-horizontal" style="font-family: 'Barlow Condensed', sans-serif;  margin-left: 33%; margin-right: 33%">
  <li class="list-group-item"> <a class="nav-link"  routerLink = "appetizers" routerLinkActive="active">Appetizer</a>  </li>
  <li class="list-group-item"> <a class="nav-link"  routerLink = "main-course" routerLinkActive="active">Dinner</a> </li>
  <li class="list-group-item"> <a class="nav-link"  routerLink = "beverages" routerLinkActive="active">Beverages</a> </li>
  <li class="list-group-item"> <a class="nav-link"  routerLink = "desserts" routerLinkActive="active">Dessert</a> </li>
</ul> -->

<h1 class="menu">M E N U</h1>

<div class="row" style="text-align: center; font-family: 'Barlow Condensed', sans-serif;  margin-left: 33%; margin-right: 33%">
  <div class="col">
    <button class="button"  routerLink = "appetizers" routerLinkActive="active">Appetizer</button>
  </div>
  <div class="col">
      <button class="button"  routerLink = "main-course" routerLinkActive="active">Dinner</button>
  </div>
  <div class="col">
      <button class="button"  routerLink = "beverages" routerLinkActive="active">Beverages</button>
  </div>
  <div class="col">
      <button class="button"  routerLink = "desserts" routerLinkActive="active">Dessert</button>
  </div>
</div>

<router-outlet></router-outlet>




