<div class="container" style="margin-top: 20px; font-family: 'Barlow Condensed', sans-serif;" >
  <div class="row">
    <div class="col" >
      <h1 style="text-align: center;">INDIAN MAIN COURSE</h1>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1 style="text-align: center;">Veg</h1>
        <table class="table" style="text-align: center; padding: 1rem;">
          <tr>
            <td><h4>Paneer Tikka </h4></td>
            <td> <h4 class="price">180/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Kadai Paneer </h4></td>
            <td> <h4 class="price">160/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Butter paneer Masala </h4></td>
            <td> <h4 class="price">180/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Mutter paneer </h4></td>
            <td> <h4 class="price">180/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Sev Tamatar </h4></td>
            <td> <h4  class="price">100/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Bhindi Masala </h4></td>
            <td> <h4 class="price">120/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Palak Paneer </h4></td>
            <td> <h4 class="price">180/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Malai </h4></td>
            <td> <h4 class="price">110/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Kofta </h4></td>
            <td> <h4 class="price">150/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Malai Kofta </h4></td>
            <td> <h4 class="price">150/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Jeera Aloo </h4></td>
            <td> <h4 class="price">100/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Aloo Gobhi </h4></td>
            <td> <h4 class="price">120/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Kaju Curry </h4></td>
            <td> <h4  class="price">160/-</h4> </td>
          </tr>
          <tr>
            <td><h4>Butter Paneer </h4></td>
            <td> <h4 class="price">200/-</h4> </td>
          </tr>

        </table>

      </div>
      <div class="col-md-6">
          <h1 style="text-align: center;">Non-Veg</h1>
          <table  class="table">
            <tr>
              <td><h4>Butter Chicken </h4></td>
              <td> <h4 class="price">200/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Kadai Chicken </h4></td>
              <td> <h4 class="price"> 210/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Chicken Tikka Masala </h4></td>
              <td> <h4 class="price">280/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Bundel khandi Chicken </h4></td>
              <td> <h4 class="price">350/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Chicken Home style</h4></td>
              <td> <h4  class="price">350/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Egg Curry</h4></td>
              <td> <h4 class="price">120/-</h4> </td>
            </tr>

          </table>
          <h1>BREADS</h1>
          <table class="table">
            <tr>
              <td><h4>Butter Naan </h4></td>
              <td> <h4 class="price">50/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Butter Roti </h4></td>
              <td> <h4 class="price">40/-</h4> </td>
            </tr>

            <tr>
              <td><h4>Rumali Roti </h4></td>
              <td> <h4 class="price">40/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Plain Roti </h4></td>
              <td> <h4 class="price">30/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Butter Naan </h4></td>
              <td> <h4 class="price">50/-</h4> </td>
            </tr>
            <tr>
              <td><h4>Kulche </h4></td>
              <td> <h4 class="price">40/-</h4> </td>
            </tr>
          </table>
      </div>
    </div>
  </div>
<!-- <section class="menu-section">
        <h1 style="padding: 0.5rem 1rem;">Indian Main Course</h1>
        <div class="menu-section-header">
          <h1 style="padding: 0.5rem 1rem;">Veg</h1>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <h4>Paneer Tikka --180/-</h4> </li>
          <li class="list-group-item">Kadai Paneer --180/-</li>
          <li class="list-group-item">Butter paneer Masala --180/-</li>
          <li class="list-group-item">Mutter paneer --180/-</li>
          <li class="list-group-item">Sev Tamatar --180/-</li>
          <li class="list-group-item">Mix Veg --180/-</li>
        </ul>
      </section>
 -->


