table{
  background-color: #050A30;
  color: azure;

}
tr{
  border: 3px solid white;
}

.price{
  color: #DAA520;
}

h1{
  text-align: center;
  color: #DAA520;
  background-color: #050A30;
  padding: 1rem;
}
