<div class="container" style="margin-top: 20px;  font-family: 'Barlow Condensed', sans-serif;">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">APPETIZERS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

          <h1 style="text-align: center;">Veg</h1>
          <table class="table" style="text-align: center; padding: 1rem;">
            <tr>
              <td>   <h4>Black Bean Dip</h4>  </td>
              <td > <h4 class="price">150/-</h4> </td>
            </tr>
            <tr>
              <td>  <h4>Methi Muthia</h4></td>
              <td class="price">  <h4>160/-</h4></td>
            </tr>
            <tr>
              <td> <h4> Paneer Tikka</h4></td>
              <td class="price">  <h4>190/-</h4></td>
            </tr>
            <tr>
              <td>  <h4>Sweet Potato Tikki</h4></td>
              <td class="price">  <h4>140/-</h4></td>
            </tr>
            <tr>
              <td>  <h4>Sabudana Tikki</h4></td>
              <td class="price">  <h4>130/-</h4></td>
            </tr>
            <tr>
              <td>  <h4>Indian Onion Salad (Laccha Pyaaz)</h4></td>
              <td class="price">  <h4>110/-</h4></td>
            </tr>
            <tr>
              <td>  <h4>Dal Vada  (Gujarati Moong Dalwada)</h4></td>
              <td class="price">  <h4>120/-</h4></td>
            </tr>
            <tr>
              <td>  <h4>Paneer 65</h4> </td>
              <td class="price">  <h4>200/-</h4></td>
            </tr>
            <tr>
              <td>  <h4>Crispy Kothimbir Vadi  (Maharashtrian Snack)</h4></td>
              <td class="price">  <h4>180/-</h4></td>
            </tr>
            <tr>
              <td>  <h4>Veg Kabab Recipe (Seekh Kabab)</h4></td>
              <td class="price">  <h4>150/-</h4></td>
            </tr>
          </table>


    </div>
    <div class="col-md-6">
      <h1 style="text-align: center;"> Non-Veg</h1>
      <table class="table">
        <tr>
          <td><h4>Indian Chicken Keema Sliders</h4></td>
          <td class="price"> <h4>240/-</h4></td>
        </tr>
        <tr>
          <td><h4> Prawn Masala Dumplings</h4></td>
          <td class="price"><h4> 230/-</h4></td>
        </tr>
        <tr>
          <td><h4> Mutton Galouti Kebab </h4></td>
          <td class="price"><h4> 180/-</h4></td>
        </tr>
        <tr>
          <td><h4>Cheesy Chicken Tikka</h4></td>
          <td class="price"><h4>250/-</h4></td>
        </tr>
        <tr>
          <td><h4>Hyderabadi Chicken Shikampuri Kebab</h4></td>
          <td class="price"><h4>230/-</h4></td>
        </tr>
        <tr>
          <td><h4>Chicken Seekh Kebab</h4></td>
          <td class="price"><h4> 250/-</h4></td>
        </tr>
        <tr>
          <td><h4> Dum Ke Shami Kebab</h4></td>
          <td class="price"><h4>200/-</h4></td>
        </tr>
        <tr>
          <td><h4> Murgh Aloo Tikki</h4></td>
          <td class="price"><h4>180/-</h4></td>
        </tr>
        <tr>
          <td><h4>KFC Style Crispy Chicken Popcorn</h4></td>
          <td class="price"><h4>240/-</h4></td>
        </tr>
        <tr>
          <td><h4>Chicken & Bell Pepper Skewers</h4></td>
          <td class="price"><h4>210/-</h4></td>
        </tr>


      </table>
    </div>
  </div>
</div>
