input{
  margin-bottom: 50px;

}
input:focus{
  outline-color: #002366;
}

button{
  margin-top: 40px;
  background-color: azure;
  color: #002366;
  width: 100%;
  outline-color: #002366;
}

button:hover{
  background-color: #002366;
  color: azure;
}

a{
  color: #002366;
}
a:hover{
  color: azure;
}
